/*** font ***/
ff:a 		/* font-family */
ff:t 		/* font-family */
ff:v 		/* font-family */
fz 			/* font-size */
fv 			/* font-variant */
fs:n/i/o 	/* font-style */
fw:n/b/br/lr /*font-weight*/


/* Box Sizing */
bxz 	/* box-sizing */
bxz:cb 	/* box-sizing:content-box; */
bxz:bb 	/* box-sizing:border-box; */
bxsh 	/* box-shadow:inset hoff voff blur color; */
bxsh:r 	/* box-shadow:inset hoff voff blur spread rgb(0, 0, 0); */
bxsh:ra /* box-shadow:inset h v blur spread rgba(0, 0, 0, .5); */
bxsh:n /* box-shadow:none; */

maw /* max-width:; */
maw:n /* max-width:none; */
mah /*  max-height:; */
mah:n /* max-height:none; */
miw /* min-width:; */
mih /* min-height:; */

/* Border */
bd
bd+
bd:n

/* Text */
va
va:t
ta:l/c/r/j


/* Animation */
trf:r   transform: rotate(angle);
trf:rx   transform: rotateX(angle);
trf:ry   transform: rotateY(angle);
trf:rz   transform: rotateZ(angle);
trf:sc   transform: scale(x, y);
trf:sc3   transform: scale3d(x, y, z);
trf:scx   transform: scaleX(x);
trf:scy   transform: scaleY(y);
trf:scz   transform: scaleZ(z);
trf:skx   transform: skewX(angle);
trf:sky   transform: skewY(angle);
trf:t   transform: translate(x, y);
trf:t3   transform: translate3d(tx, ty, tz);
trf:tx   transform: translateX(x);
trf:ty   transform: translateY(y);
trf:tz   transform: translateZ(z);
trfo    transform-origin:;
trfs   transform-style:preserve-3d;
trs   transition:prop time;
trsde   transition-delay:time;
trsdu   transition-duration:time;
trsp   transition-property:prop;
trstf   transition-timing-function:tfunc;
us   	user-select:${none};
wfsm   	-webkit-font-smoothing:${antialiased};
wfsm:a   -webkit-font-smoothing:antialiased;
wfsm:n   -webkit-font-smoothing:none;
wfsm:s, wfsm:sa  webkit-font-smoothing:subpixel-antialiased;

/* Background */
bgc

/* Position */
pos:s/a/r/f
fl:n/l/r
d:n/b/f/if/i/ib/li/tb/itb/ /* display */






